<h1>Tiny App</h1>
<a href="urls/new"> Click here to Shorten a new URL!</a>
<% if (username) { %>
   <p>Logged in as: <%= username %></p>
   <form action="/logout" method="POST">
     <input type="submit" value="Logout">
   </form>
<% } %>
 <% if (!username) { %>
   <form action="/login" method="POST">
     <input type="text" placeholder="username" name="username">
     <input type="submit" value="Login">
   </form>
<% } %>
