<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- My CSS -->
    <link type='text/css' rel='stylesheet' href='/styles/main.css'>
    <!-- My Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <title>TinyApp - New URL</title>
  </head>
  <header>
    <% include ../partials/_header.ejs %>
  </header>
  <body style="text-align: center;">
   <% if (user) { %>
    <p>Create a new Short URL</p>
    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
   <% } %>
  </body>
</html>
